# Pycharm settings
.idea/
# VSCode Settings
.vscode
# Logfiles
streamdl.log
streamdl.log.*
# Live Config File
config.yml
# venv
venv/
StreamDL.egg-info/
# media files
*.mp4
*.mkv
*.part
# testing files
.pytest_cache/
__pycache__/