# This is an example of the necessary docker-compose config
version: '3'

services:
  streamdl:
    image: dangeroustech/streamdl:stable
    restart: always
    volumes:
      - /media/downloads/incomplete:/app/dl # in-progress downloads location
      - /media/downloads/complete:/app/out # completed downloads location
      - ./config.yml:/app/config.yml # config file
    environment:
      - REPEAT_TIME=5 # time to repeat, in minutes
      - LOG_LEVEL=INFO # log level
