# This is an example of the necessary docker-compose config

services:

  server:
    image: dangeroustech/streamdl:server_stable
    env_file:
      - .env
    restart: always

  client:
    image: dangeroustech/streamdl:client_stable
    env_file:
      - .env
    restart: always
    volumes:
      - ./downloads/incomplete:/app/dl # in-progress downloads location
      - ./downloads/complete:/app/out # completed downloads location
      - ./config:/app/config # config folder - using a folder allows host updates without cycling the container
    depends_on:
      - server
