[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
pytest = "*"

[packages]
streamdl = {editable = true,path = "."}

[requires]
python_version = "3.8"
