name: Dockerhub Build - Staging

on:
  push:
    branches: [staging]
  pull_request_target:
    branches: [staging]

permissions:
  contents: write
  security-events: write

jobs:
  docker:
    name: Docker
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        component: [client, server]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker Build
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.${{ matrix.component }}
          platforms: linux/amd64
          load: true
          tags: streamdl:${{ matrix.component }}_local

      - name: Docker Scan
        id: docker_scan
        uses: snyk/actions/docker@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: streamdl:${{ matrix.component }}_local
          args: --severity-threshold=medium --file=Dockerfile.${{ matrix.component }}

      - name: Upload result to GitHub Code Scanning
        id: snyk_results_upload
        uses: github/codeql-action/upload-sarif@v3
        continue-on-error: true
        with:
          sarif_file: snyk.sarif

      - name: Dockerhub Push Staging
        id: dockerhub_staging_push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.${{ matrix.component }}
          platforms: linux/amd64
          push: true
          tags: |
            dangeroustech/streamdl:${{ matrix.component }}_staging
